<!-- Footer -->
<section id="footer">
<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 bg-dark text-white mt-3">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
          esse
          quasi, veritatis totam voluptas nostrum.</p>
        <form action="" method="post">
          {% csrf_token %}
          {{fm.as_p}}
        </form>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="#!">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">ABOUT US</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">BLOG</a>
            </p>
          </li>
          <li>
            <p>
              <a href="#!">AWARDS</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i> saswad pune, maharashtra</p>
          </li>
          <li>
            <p>

              <i class="fas fa-envelope mr-3"></i><a href="mailto:hotel@paradise.com">hotel@paradise.com</a></p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> <a href="tel:+911234567890" class="mr-3">911234567890</a> </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

        <!-- Facebook -->
        <a type="button" class="btn-floating btn-fb  d-block p-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <!-- Twitter -->
        <a type="button" class="btn-floating btn-tw d-block p-2">
          <i class="fab fa-twitter"></i>
        </a>
        <!-- instagram -->
        <a type="button" class="btn-floating btn-tw d-block p-2">
          <i class="fab fa-instagram"></i>
        </a>
        <!-- youtube -->
        <a type="button" class="btn-floating btn-tw d-block p-2">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://paradise.com/"> paradise.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</section>
<!-- Footer -->