{% load static %}
<section id="gallery">
  <h4 id="about" class="text-center text-primary text-uppercase mt-3">Gallery</h4>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <img src="{% static 'img/card/card1.jpeg' %}" class="rounded float-start img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card2.jpeg' %}" class="rounded mx-auto d-block img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card3.jpeg' %}" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <img src="{% static 'img/card/card4.jpeg' %}" class="rounded float-start img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card5.jpeg' %}" class="rounded mx-auto d-block img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card6.jpeg' %}" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <img src="{% static 'img/card/card1.jpeg' %}" class="rounded float-start img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card2.jpeg' %}" class="rounded mx-auto d-block img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card3.jpeg' %}" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <img src="{% static 'img/card/card4.jpeg' %}" class="rounded float-start img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card5.jpeg' %}" class="rounded mx-auto d-block img-fluid" alt="...">
      </div>
      <div class="col-4">
        <img src="{% static 'img/card/card6.jpeg' %}" class="rounded float-end img-fluid" alt="...">
      </div>
    </div>
  </div>
</section>


