
{% load static %}
<div class="container-flui">
      <section>
        <h4 id="services" class="text-center text-primary text-uppercase mt-3">Services</h4>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card1.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  <a href="#" class="btn btn-primary button">Go somewhere</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card2.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary button">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card3.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="#" class="btn btn-primary button">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card4.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  <a href="#" class="btn btn-primary button">Go somewhere</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card5.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary button">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{% static 'img/card/card6.jpeg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <a href="#" class="btn btn-primary button">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </section>
</div>